body{
   background-color: silver;
.hard{
    background: green;
    color: white;   
}
#base2{
    background: yellow;
    color: black;
 }
 #dase1{
    background: red;
    color: white;
}
p{
    background: blue;
    color: white;
}
}